.menu-item{
      padding-top:2rem;
      padding-bottom:2rem;
      border-bottom:2px solid transparent;
      transition: all .5s;
}

.active-menu-item{
    border-bottom:2px solid #e1e9f0;
    color:#ff937a;
}


nav{
  z-index:9999;
  position: fixed;
  top: 0;
  background: transparent;
  width:100%;
  border-bottom: 1px solid rgba(225,233,240,0.2);
  .nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:3.125rem;
    padding-right:3.125rem;
    .left-menu-items{
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding-left:0;
      .menu-item-container{
        margin-left: 1rem;
        a{
          text-decoration: none;
          color:#e55b3b;
          cursor:pointer;
        }
      }
      .menu-item-container a:hover{
          color:#ff937a;
        }
    }
    .middle-home-link{
      transform:translateX(-50%);
      color:#ff6642;
    }
    .right-signup{
      .button{
        cursor:pointer;
        display:flex;
        justify-content: center;
        border:1px solid rgb(177,189,137);
        border-radius: 100px;
        padding:.5rem;
        width:6rem;
        color:rgb(177,189,137);
        transition:all .1s;
      }
      .button:hover{
        color:#1e3044;
        background:rgb(177,189,137);
        border: #1e3044;
      }
    }
  }
}
